<headerSesionComponent [opcionActiva]="opcionActiva" (cambioOpcion)="cambioOpcion($event)"></headerSesionComponent>

<ng-container *ngIf="opcionActiva==='LogIn'; else signUp">
    <loginComponent class="componente-Contenido" [datos]="datosLogIn"></loginComponent>
</ng-container>

<ng-template #signUp>
    <crearCuentaComponent class="componente-Contenido" [datos]="datosCrearCuenta"></crearCuentaComponent>
</ng-template>

<footerSesionComponent [opcionActiva]="opcionActiva" (registrarseButton)="registrarse($event)"
    (iniciarSesionButton)="iniciarSesion($event)"></footerSesionComponent>

<ng-container *ngIf="mostrarModal">
    <modal-mensaje (cerrarPopUp)="cerrarPopUp()" [mensaje]="mensajePopUp" ></modal-mensaje>
</ng-container>