<div>
  <div class="contenedorFila" *ngFor="let item of compras;let j=index">

    <div class="elementoFilaNombre">
      {{item[0]}}
    </div>

    <div class="elementoFilaImagen contenedorImagen centrar">
      <img [src]="item[1].producto.imagen" alt="">
    </div>

    <div class="elementoFilaprecio centrar">
      <span>$ {{item[1].producto.precio}}</span>
    </div>

    <div class="elementoFilaCantidad centrar">
      
      <ion-select [placeholder]="item[1].cantidad" [(ngModel)]="cantidades[j]" (ngModelChange)="cambioCantidad(j)">
        <ng-container *ngFor="let item of item[1].producto.selectNumber;let i=index">
          <ion-select-option [value]="i">{{i}}</ion-select-option>
        </ng-container>

      </ion-select>

    </div>

  </div>

  <div>
    Total: ${{total}}
  </div>
</div>