.contenedorHome{
    display: inline;
    overflow: auto;
}

.headerAppComponent{
    position: fixed;
}


.headerComponent{
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: +2;
}


.contenedorCarouselCategorias{
    height: 100px;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    margin-top: 67px;
    margin-top: 60px;
}

.ionCardCategoria{
    display: inline-block;
    width: 100px;
    height: 80px;
    border: 1px solid #c7bfbf;
    line-height: 80px;
    text-align: center;
    margin-bottom: 4px;
}

.categoriaTitleContenedor{
    box-shadow: 0 0 3px 1px #1b1212;;
    text-align: center;
    background: #040f44;
    color: white;
}