.contenedorSlides{
    margin-top: 5px;
    .ionContentCategorias{
        height: 75px;
    }



    // img{
    //     width: 21%;
    // }


    .contenedorIon{
        height: 369px;



        .contenedorPrecio{
            position: absolute;
            z-index: 99;
            top: 35px;
            font-size: 0.8rem;
            right: 29px;
            display: inline-grid;
        }
   


        .contenedorUnidades{
            top: 17px;
            left: 18px;
            position: absolute;

          

            ion-label{
                position: absolute;
                z-index: 99;
                top: 34px;
                font-size: 0.8rem;
                left: 2px;
            }

            ion-item{
                ion-select{
                    padding-left: 0px;
                    .select-text{
                        color: black;
                        opacity: unset;
                    }
                }
            }
            
        }


        .buttonComprar{
            position: absolute;
            bottom: 0px;
            width: 100%;
        }
        

        .contenedorImagen{
            height: 154px;
            img{
                position: relative;
            }
        }
        


    }

}

.slideCategorias {
    height: 71px;
    ion-card{
        width: 100%;
        height: calc(100% - 10px);
        position: relative;
        padding: 7px;
    }
    
}


