<div class="contenedorSlides">


  <!-- <ion-content class="ionContentCategorias" >
    <ion-slides scroll="true">
      <ng-container *ngFor="let valor of listaValores,let i=index ">
        <ion-slide class="slideCategorias " >
          <ion-card (click)="expression" style="    width: 205px; ">
            <img [src]="valor.imagen">
          </ion-card>
        </ion-slide>
      </ng-container>
    </ion-slides>
  </ion-content> -->






  <ion-content class="contenedorIon">
    <ion-slides>

      <ng-container *ngIf="listaValores">

        <ion-slide *ngFor="let item of listaValores.lista,let i=index" scrollbar="true" pager="true">




          <div class="contenedorUnidades">
            <ion-label>Cantidad</ion-label>
            <ion-item>
              <ion-label>Cantidad</ion-label>
              <ion-select placeholder="0" [(ngModel)]="unidades[i] ">
                <ng-container *ngFor="let item of item.selectNumber;let i=index">
                  <ion-select-option [value]="i" >{{i}} </ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item>
          </div>


          <div class="contenedorPrecio">
            <span>$ {{item.precio}}</span>
            <ion-label>Valor</ion-label>
          </div>


          <ion-card style="    height: 332px;">


            <div class="contenedorImagen">
              <img src="{{item.imagen}}" />
            </div>

            
            <ion-card-header>
              <ion-card-title>{{item.nombre}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>

            <ion-button class="buttonComprar"
              [color]="item.unidadesDisponibles===0 ? 'danger': (item.unidadesDisponibles>=3 ? 'primary' : 'warning') "
              [disabled]="item.unidadesDisponibles===0 ? true: false" expand="full" fill="outline"
              (click)="agregarAlcarrito(i)">
              {{item.unidadesDisponibles===0 ? 'Agotado': (item.unidadesDisponibles>=3 ? 'Comprar' : 'Pocas unidades')  }}
            </ion-button>


          </ion-card>
        </ion-slide>

      </ng-container>


      <ng-container *ngIf="!listaValores">
        cargando...
      </ng-container>




    </ion-slides>
  </ion-content>







</div>