<div id="component-crearCuenta">






    
    <div class="contenedorInput">
        <div class="iconcontent iconEmail">
            <img src="../../../../assets/image/correo.png" alt="">
        </div>
        <input type="email" class="email" name="email" [(ngModel)]="datos.email" placeholder="Correo electronico"
            required="required">
    </div>




    <div class="contenedorInput">
        <div class="iconcontent iconPassword">
            <img src="../../../../assets/image/bloquear.png" alt="">
        </div>
        <input type="password" class="password" name="password" [(ngModel)]="datos.repcontrasena" placeholder="Contraseña"
            required="required">
    </div>

    
    <div class="contenedorInput">
        <div class="iconcontent iconPassword">
            <img src="../../../../assets/image/bloquear.png" alt="">
        </div>
        <input type="password" class="password" name="password" [(ngModel)]="datos.repcontrasena" placeholder="Repetir contraseña"
            required="required">
    </div>


  

</div>