#component-crearCuenta{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40%;
    input{
        // width: calc(100% - 30px);
        // display: inline-flex;
        width: 80%; 
        color: black;
    }
    .contentInput{
        color: black;
    }
}

::placeholder {
    color: #615151;;
  }
// .contentInput{
//     display: inline-flex;
//     width: 30px;
//     height: 30px;
//     -webkit-box-align: center;
//     align-items: center;
//     padding: 9px 6px;
//     margin-bottom: 0;
//     font-size: 1rem;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #495057;
//     text-align: center;
//     white-space: nowrap;
//     background-color: #e9ecef;
//     border: 1px solid #ced4da;
//     border-radius: 0.25rem;
// }

