.contenedorModal{
    position: absolute;
    width: 90%;
    height: 30%;
    background:white;
    top: 50%;
    left: 50%;
    transform: 'none' ;
    z-index: +99999;

    .titulo{
        text-align: center;
        background: #0e2254;
        height: 50px;
        color: white;
        padding-top: 13px;
    }

    .cuerpo{
        padding-top: 46px;
        padding-left: 10px;
        padding-right: 10px;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        ion-label.titulo{
            color: #737373;
            text-align: center;
            flex-grow: 1;
            font-size: 15px;
            margin-left: 6px;
            margin-right: 6px;
            text-align: center;
            margin-top: 42px;
        }
    }


    .contenedorImagen{    
        display: flex;
        justify-content: center;
        flex-grow: 1;
        margin-top: 26px;


     

      
    }
}



.contenedorBotones{
    text-align: center;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    height: 40px;
    line-height: 24px;



    .bontonCerrar{    
        background-color: rgb(255, 54, 72);
    }

    .bontonEnviar{
        background-color: rgb(39, 177, 39);
    }

    .botones{
        height: 32px;
        padding-top: 6px;
        color: white;
        margin-bottom: 7px;
        flex-grow: 1;
        text-align: center;
    }
}