<div class="contenedor-headerApp">

  <div class="opcionMenu menuHam">

    <img src="../../../../assets/image/user.png" alt="" id="main" (click)="abrirMenu()">

  </div>

  <div class="opcionMenu "></div>

  <div class="opcionMenu shop">
    <div class="contenedorNumeroCompras">
      <span>{{numeroCompras}}</span>
    </div>
    <img src="../../../../assets/image/shop.png" alt="" (click)="abrirCarrito($event)">
  </div>


</div>


<ion-menu side="start" menuId="first" contentId="main" style="position: absolute;z-index: +9999999;height: 800px;">
  <ion-header>
    <ion-toolbar color="toolColor">
      <ion-title>Menu Usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item disabled>Configuración de la cuenta</ion-item>
      <ion-item disabled>Carrito de compras</ion-item>
      <ion-item disabled>Pedidos anteriores</ion-item>
      <ion-item disabled>Mis compras</ion-item>
      <ion-item disabled>Quejas y reclamos</ion-item>
      <ion-button color="toolColor" (click)="menu.close('first');cerrarSesion.emit()" expand="full">cerrar sesión</ion-button>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="first" style="visibility: hidden;"></ion-router-outlet>