<div id="component-LogIn">






    <div class="contenedorInput">
        <div class="iconcontent iconEmail">
            <img src="../../../../assets/image/correo.png" alt="">
        </div>
        <input type="email" class="email" name="email" [(ngModel)]="datos.email" placeholder="Correo electronico"
            required="required">
    </div>


    <div class="contenedorInput">
        <div class="iconcontent iconPassword">
            <img src="../../../../assets/image/bloquear.png" alt="">
        </div>
        <input type="password" class="password" name="password" [(ngModel)]="datos.contrasena" placeholder="Contraseña"
            required="required">
    </div>

    <div class="contenedorRep">
        <div style="display: inline-flex; margin-left: 6px;">
            <ion-checkbox color="toolColor"></ion-checkbox>Recuerdame
        </div>
        <a (click)="abrirPopUp()">Olvidaste tu contraseña?</a>
    </div>




</div>


<ng-container *ngIf="mostrarModal">
    <app-modalRecuperarPassword (cerrarPopUp)="cerrarPopUp()" ></app-modalRecuperarPassword>
</ng-container>