<div id="component-LogIn">




    <div class="contenedorImg">
        <img class="imgLogo" src="../../../../assets/image/logo2.png" alt="">

    </div>


    <div style="    height: 19px;">
        <span style="color: black">{{datos.email ? 'Correo electronico:' : ''}} </span>
    </div>

    <input type="email" class="email" name="email" [(ngModel)]="datos.email" placeholder="Correo electronico"
        required="required">




    <div style="height: 19px;">
        <span style="color: black">{{datos.contrasena ? 'Contraseña:' : '' }} </span>
    </div>

    <input type="password" class="password" name="password" [(ngModel)]="datos.contrasena" placeholder="Contraseña"
        required="required">


</div>